/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}



body {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    display: flex;
    width: 100%;
    height: 79px;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    padding: 30px 50px 30px 0px;
    gap: 10px;
}

nav {
    display: flex;
    height: 35px;
    padding: 0px 50px 0px 50px;
    gap: 68px;
}

.host-link {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 15px;
}

.host-link:hover {
    color: #0065FC;
}

.activity-link {
    padding-top: 18px;
}

.activity-link:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    margin-top: -2px;
}

/****** Info-group ***********/

.info-group {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-bottom: 30px;
}

.info-group-p {
    margin-top: -10px;
    margin-left: 5px;
}

/* Search bar */

.search-bar {
    display: flex;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 380px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.location-dot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 50px;
    height: auto;
    background-color: #F2F2F2;
}

.fa-location-dot {
    color: black;
}

.search-input {
    display: flex;
    border: 1px solid #F2F2F2;
    align-items: center;
    justify-content: center;
    width: 230px;
    font-weight: bold;
    padding-left: 15px;
    font-size: 16px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: #0065FC;
    color: white;
    border: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-button:hover {
    cursor: pointer;
    opacity: 60%;
}

.search-button-phone {
    display: none;
}

/* Filter bar */

.filter-bar {
    display: flex;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.filter-bar-p {
    font-weight: bold;
}

.filter-container {
    display: flex;
}

.filtre {
    display: flex;
    gap: 10px;
    padding: 4px 19px 4px 19px;
    align-items: center;
    justify-content: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    margin-left: 15px;
    transition: all 0.3s;
}

.filtre:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

/* Info bar */

.info-bar {
    display: flex;
    height: 24px;
    align-items: center;
    margin-top: 15px;
}

.info-bar-icone-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    font-size: 12px;
    margin-right: 10px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}



/****** Hebergements ***********/

.hebergements {
    width: 65%;
    gap: 30px;
}

.hebergements-h2 {
    margin-top: -5px;
    margin-bottom: 15px;
}

.hebergements-card-container {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-row a {
    display: flex;
    width: 30%;
}

.hebergements-card {
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.hebergements-card img {
    height: 120px;
    width: 100%;
    min-height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-card-content {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 15px 10px;
}

.hebergements-card-txt h3 {
    margin-top: 10px;
}

.hebergements-card-txt p {
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.hebergements-h3 {
    margin-top: 30px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activity card container ***********/

.activity {
    display: flex;
    width: auto;
    height: auto;
    padding: 30px;
    gap: 30px;
    flex-direction: column;
    margin-bottom: 50px;
}

.activity-card-h2 {
    padding-left: 15px;
}

.activity-card-container {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.activity-card-container a {
    display: inline-block;
    height: auto;
    width: 23%;
    padding-left: 15px;
    padding-right: 15px;
}

.activity-card {
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    max-height: 400px;
}

.activity-card img {
    width: 100%;
    height: 340px;
    max-height: 340px;
    object-fit: cover;
}

.activity-card .card-content {
    align-items: center;
    padding-left: 15px;
    height: 60px;
}

.activity-card h3 {
    margin-top: 10px;
}

/****** Footer ***********/

footer {
    width: 100%;
    background-color: #F2F2F2;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-info {
    width: 30%;
    padding-left: 15px;
    align-items: center;
}

.footer-h3 {
    padding-left: 10px;
    padding-top: 10px;
}

.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.list-element {
    padding: 0px 10px 10px 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* High resolution screens (more/equal than 1024px) */

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards {
        gap: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activity-card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .activity-card-container a {
        display: flex;
        min-width: 170px;
        margin-bottom: 10px;
    }

    .activity-card {
        margin-top: 15px;
    }

    .activity-card h3 {
        min-width: 200px;
    }

    .activity-card img {
        height: 200px;
    }

    .activity-card-container a {
        width: 20%;
        padding-left: 10px;
        padding-right: 10px;
    }


    .activity-card div {
        max-height: 50px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0px;
        margin: 0px;
        overflow: hidden;
    }

    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-bottom: 30px;
    }

    .logo-container img {
        height: 25%;
        width: 25%;
    }

    .logo-container {
        height: 50%;
        width: 50%;
        align-items: center;
        justify-content: center;
        padding: 30px 0px 30px 0px;
    }

    nav {
        width: 100%;
        align-items: center;
        display: flex;
        padding: 0px;
        gap: 0px;
    }

    .host-link {
        display: flex;
        justify-content: center;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-bottom: 15px;
        width: 50%;
    }

    .activity-link {
        display: flex;
        justify-content: center;
        padding-bottom: 18px;
        border-top: none;
        width: 50%;
    }

    .activity-link:hover {
        border-top: none;
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        margin-bottom: 4px;
    }

    .search-bar-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
    }

    .search-bar {
        width: 300px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .search-button {
        display: none;
    }

    .search-button-phone {
        margin-left: 250px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        height: 45px;
        width: 45px;
        font-size: 16px;
        background-color: #0065FC;
        border: none;
        border-radius: 15px;
        z-index: 10;
        transition: all 0.3s;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .search-button-phone:hover {
        cursor: pointer;
        opacity: 60%;
    }

    .fa-magnifying-glass {
        color: white;
    }

    .info-group {
        padding: 0px 15px 0px 15px;
    }

    h1 {
        padding-right: 50px;
        word-wrap: break-word;
    }

    .info-bar p {
        padding-right: 50px;
        word-wrap: break-word;
    }

    .filter-bar {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .filter-container {
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-left: -50px;
    }

    .filtre {
        margin-bottom: 15px;
        padding: 15px;
        width: 30%;
        min-width: 130px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        margin-top: 0px;
        border-radius: 0px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    #hebergements {
        background-color: white;
    }

    .card-row {
        display: flex;
        flex-direction: column;
    }

    .card-row a {
        width: 100%;
        margin-bottom: 30px;
    }

    .activity-card-container {
        display: flex;
        flex-direction: column;
    }

    .activity-card-container a {
        width: 90%;
        display: inline-block;
        margin-bottom: 15px;
    }

    .activity-card .card-content {
        height: 35px;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer-info {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

}